workflows/HIDS___Accuse_de_reception.json
{
  "id": "5e0dd820-ae68-4ba4-af1a-da0d8b800150",
  "name": "HIDS - Accuse de reception",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "hids-ack",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ack-webhook-trigger",
      "name": "Webhook - ACK HIDS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "webhookId": "hids-ack-webhook"
    },
    {
      "parameters": {
        "jsCode": "const executionId = $json.query.executionId;\nreturn {\n  json: {\n    executionId: executionId,\n    waitResumeUrl: `http://n8n_automation:5678/webhook-wait/55cc9e7b-98f6-4999-b0b1-5bf8cbe3d89d/${executionId}`\n  }\n};"
      },
      "id": "ack-build-resume-url",
      "name": "Construire URL de reprise",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "=Accuse de reception recu pour l'incident {{ $json.executionId }}.\nReprise du Wait node...",
        "additionalFields": {}
      },
      "id": "ack-telegram-confirm",
      "name": "Telegram - Confirmation ACK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        300
      ],
      "webhookId": "ack-telegram-webhook",
      "credentials": {
        "telegramApi": {
          "id": "VkmFqOqIjqQl0fzi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.waitResumeUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"acked\": true}",
        "options": {
          "timeout": 10
        }
      },
      "id": "ack-resume-wait",
      "name": "HTTP - Resume Wait node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ack_received\", \"incident_id\": \"{{ $json.executionId }}\"}",
        "options": {}
      },
      "id": "ack-response",
      "name": "Reponse HTTP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - ACK HIDS": {
      "main": [
        [
          {
            "node": "Construire URL de reprise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire URL de reprise": {
      "main": [
        [
          {
            "node": "Telegram - Confirmation ACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Confirmation ACK": {
      "main": [
        [
          {
            "node": "HTTP - Resume Wait node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Resume Wait node": {
      "main": [
        [
          {
            "node": "Reponse HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
