workflows/HIDS___Accuse_de_reception.json
{
  "id": "5e0dd820-ae68-4ba4-af1a-da0d8b800150",
  "name": "HIDS - Accuse de reception",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hids-ack",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ack-webhook-trigger",
      "name": "Webhook - ACK HIDS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "webhookId": "hids-ack-webhook"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "=Accuse de reception recu pour l'incident {{ $json.body.incident_id }}.\nL'escalade est annulee.",
        "additionalFields": {}
      },
      "id": "ack-telegram-confirm",
      "name": "Telegram - Confirmation ACK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        300
      ],
      "webhookId": "ack-telegram-webhook",
      "credentials": {
        "telegramApi": {
          "id": "VkmFqOqIjqQl0fzi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ack_received\", \"incident_id\": \"{{ $json.body.incident_id }}\"}",
        "options": {}
      },
      "id": "ack-response",
      "name": "Reponse HTTP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - ACK HIDS": {
      "main": [
        [
          {
            "node": "Telegram - Confirmation ACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Confirmation ACK": {
      "main": [
        [
          {
            "node": "Reponse HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}